<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= link_to image_tag(simple[:thumbnail],
	  size: "75x111",   alt: "image missing"),
	  video_path(simple) %>
    </div>
    
    <div class="col-xs-3">
      <%= link_to simple.title, video_path(simple)%>
      <date style="font-size:12px">(<%= simple[:release_date] %>)</date>
      <strong>
	<p style="font-size:10px"> <%= simple[:actors] %></p>
	<p style="font-size:10px"><%= simple[:theme] %></p>
	<p class="product-description" style="font-size:10px"></p>
      </strong>
      <p style="font-size:8px"><%= simple[:description].truncate(50) %></p>
    </div>
  </div>
</div>
