<div class="row">
  
  <%= render 'partials/account_info' %>    
  <%= render 'partials/carousel' %>
  <h1>Matthews List of Videos</h1>
  
  <% @videos.each do |movie| %>
  <% @movie = movie %>
  <div>
    <%= render partial: "partials/simple", object: @movie %>
  </div>
  </br>
  <% end %>
  <%= will_paginate @products %>

	<p style="font-size:16px"> Can't see the movie you are seeking? </p>
  
  <%= render 'partials/find_movie' %>
  
</br></br>
</div>


