  
  <body>
    
    <%= render 'partials/jumbotron' %>    
    
<div class="container">
  <div class="row">
    
    <%= render 'partials/account_info' %>    
    <%= render 'partials/carousel' %>
  </div>
</div>

    <div class="container">

      <%= render partial: "partials/detailed", object: @movie %></br></br>
      <%= render 'partials/thumbnails' %>

    </div>
    
</br></br>
</div>


  </body>

