<%# do you need body tags, these normally come from the layout file %>
<body>
<%# fix the indenting %>
  <div class="container">
    <div class="row">

      <%= render 'partials/account_info' %>
      <%= render 'partials/carousel' %>
    </div>
  </div>

  <div class="container">

    <div>
      <%= render partial: "partials/detailed", object: @movie %></br>
    </div>

    <div>
      <%= link_to 'Delete',
	  video_path(@movie),
	  method: :delete,
	  data: {confirm: "Do you really want to delete this video?" } %>
    </div>
  </div>

  <p class="lead">Recommended Videos by ElasticSearch</p>

  <p>
    <div class="container">
      <div class="row">
	  <% @suggestions.each do |suggestion| %>
	  <% @suggestion = suggestion %>
	    <div class="col-md-4">
	      <%= render partial: "partials/simple", object: @suggestion %>
	    </div>
	  <% end %>
      </div>
    </div>
  </p>

</div>

</body>
